@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html,
body {
  overflow-x: hidden;
}

nav {
  z-index: 999;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 200px;
  transition: 0.5s ease;
}

.brand {
  font-size: 1.5em;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
}

.brand2 {
  font-size: 1.5em;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  transition: 0.3s ease;
}

.brand2:hover {
  cursor: pointer;
  transform: scale(1.3);
  transition: 0.3s ease;
  color: white;
}
.nav {
  position: fixed;
}

nav .navigation {
  position: relative;
}

.nav-links {
  position: relative;
  font-size: 1.1em;
  font-weight: 500;
  text-decoration: none;
  margin-left: 30px;
  transition: 0.3s ease;
  color: white;
}

nav .navigation .navigation-items a:before {
  content: "";
  position: absolute;
  background: #fff;
  width: 0;
  height: 3px;
  bottom: 0;
  left: 0;
  transition: 0.3s ease;
}

nav .navigation .navigation-items a:hover:before {
  width: 100%;
}

.home {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 100px 200px;
  height: 100%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.home:before {
  z-index: 777;
  content: "";
  position: absolute;
  background: rgba(17, 134, 1, 0.3);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  height: 100%;
}

video {
  margin: 0 auto;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  background-size: cover;
  transition: 1s opacity;
}
.imagem {
  top: 1250px;
  position: absolute;
  z-index: -1;
}

.imagem2 {
  right: 0;
  top: 70%;
  transform: rotate(180deg);
  position: absolute;
  z-index: -1;
}

.home .content {
  z-index: 888;
  color: #fff;
  width: 70%;
  margin-top: 50px;
  display: none;
}

.home .content.active {
  display: block;
}

.home .content h1 {
  font-size: 4em;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 5px;
  line-height: 75px;
  margin-bottom: 40px;
}

.home .content h1 span {
  font-size: 1.2em;
  font-weight: 600;
}

.home .content p {
  margin-bottom: 65px;
}

.home .content a {
  background: #fff;
  padding: 15px 35px;
  color: #2e8d1f;
  font-size: 1.1em;
  font-weight: 500;
  text-decoration: none;
  border-radius: 2px;
}

.home .media-icons {
  z-index: 888;
  position: absolute;
  right: 30px;
  display: flex;
  flex-direction: column;
  transition: 0.5s ease;
}

.home .media-icons a:hover {
  transform: scale(1.3);
}

.home video {
  z-index: 000;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slider-navigation {
  z-index: 888;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(80px);
  margin-bottom: 12px;
}

.slider-navigation .nav-btn {
  width: 12px;
  height: 12px;
  background: #fff;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 2px rgba(255, 255, 255, 0.5);
  transition: 0.3s ease;
}

.slider-navigation .nav-btn.active {
  background: #008134;
}

.slider-navigation .nav-btn:not(:last-child) {
  margin-right: 20px;
}

.slider-navigation .nav-btn:hover {
  transform: scale(1.2);
}

.video-slide {
  position: absolute;
  width: 100%;
  clip-path: circle(0% at 0 50%);
}

.video-slide.active {
  clip-path: circle(150% at 0 50%);
  transition: 2s ease;
  transition-property: clip-path;
}

@media (max-width: 1040px) {
  nav {
    padding: 12px 20px;
  }

  .home .media-icons {
    right: 15px;
  }

  nav .navigation {
    display: none;
  }

  nav .navigation.active {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(1, 1, 1, 0.5);
  }

  nav .navigation .navigation-items a {
    color: #222;
    font-size: 1.2em;
    margin: 20px;
  }

  nav .navigation .navigation-items a:before {
    background: #222;
    height: 5px;
  }

  nav .navigation.active .navigation-items {
    background: #fff;
    width: 600px;
    max-width: 600px;
    margin: 20px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0 5px 25px rgb(1 1 1 / 20%);
  }

  .menu-btn {
    background: url(menu.png) no-repeat;
    background-size: 30px;
    background-position: center;
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: 0.3s ease;
  }

  .menu-btn.active {
    z-index: 999;
    background: url(close.png) no-repeat;
    background-size: 25px;
    background-position: center;
    transition: 0.3s ease;
  }
}

@media (max-width: 560px) {
  .home .content h1 {
    font-size: 3em;
    line-height: 60px;
  }
}

.title {
  color: #333;
  font-weight: bold;
}

.title-sm {
  color: #333;
  font-weight: bold;
  font-size: 32px;
}

.title-md {
  color: #333;
  font-weight: bold;
  font-size: 46px;
}

.paragraph {
  font-weight: lighter;
}

.paragraph-sm {
  font-size: 16px;
  font-weight: lighter;
}

.paragraph-md {
  font-size: 24px;
  font-weight: lighter;
}
.padding {
  padding-top: 200px;
}

.move_folhas {
  position: absolute;
  bottom: 30px;f
  -webkit-animation-name: mv_folha;
  -webkit-animation-duration: 10s;
  -webkit-animation-iteration-count: infinite;
  animation-name: mv_folha;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}
.enfeite {
  border-radius: 100px;
  width: 60px;
  height: 15px;
  margin-bottom: 20px;
  background: linear-gradient(90deg, #00ce7c 0%, #008134 100%);
}

nav {
  position: fixed;
}

.card-text {
  font-size: 14px;
  font-style: lighter;
}
.card {
  padding: 20px;
  text-align: left;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  transition: 0.5s all;
}

.card:hover {
  background-color: #008134;
  transform: scale(1.025); /* Equal to scaleX(0.7) scaleY(0.7) */
  transition: 0.5s all;
  box-shadow: 0 10px 15px -3px rgba(1, 116, 6, 0.1),
    0 4px 6px -4px rgba(0, 248, 0, 0.1);

  color: white;
}

.icon {
  font-size: 48px;
}

.card-title {
  font-weight: 600;
  font-size: 24px;
}
@media (min-width: 1025px) {
  .navbar-default {
    padding-top: 20px;
    padding: 20px 180px;
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.72);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.5px);
    -webkit-backdrop-filter: blur(8.5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
  }
}

@media (max-width: 1024px) {
  .navbar-default {
    padding-top: 20px;
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.72);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.5px);
    -webkit-backdrop-filter: blur(8.5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
  }
  .folhas01 {
    display: none;
  }
  .folhas02 {
    display: none;
  }
  .imagem {
    display: none;
  }
}

.folhas02 {
  right: -120px;
  top: 1000px;
  z-index: 99;
  position: absolute;
}

.folhas01 {
  position: absolute;
  left: -400px;
  top: 2200px;
  z-index: 99;
  transform: rotate(90deg);
}

/* Works on Firefox */
* {
  scrollbar-width: 5px; /*thin;*/
  scrollbar-color: #008134 white;
}
*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track {
  background: white; /* color of the tracking area */
}

*::-webkit-scrollbar-thumb {
  background-color: #008134; /* color of the scroll thumb */
  border-radius: 1px; /* roundness of the scroll thumb */
  /* border: 1px solid white;  */ /* creates padding around scroll thumb */
}
.parallax {
  position: relative;
  background-image: url(assets/img/parallax.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 0;
}
.parallax::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #008134;
  opacity: 0.5;
  z-index: -1;
}

.parallax-title {
  font-size: 32px;
  font-weight: bold;
  color: white;
}

.parallax-paragraph {
  font-size: 15px;
  font-weight: 500;
  color: white;
}

/* 
.parallax {
  background-color: rgba(54, 167, 26, 0.7);
  z-index: 99;
  background-image: url(assets/img/parallax.jpg);

  height: 100%;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
} */

@import url();
@import url(https://fonts.googleapis.com/css?family=Lato:300);

.test {
  width: 180px;
  height: 50px;
  margin: auto;
  border-radius: 6px 22px;
  transition: all 0.2s ease;
  box-sizing: border-box;
  text-align: center;
  color: rgb(236, 240, 241);
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 14px 0;
  overflow: hidden;
}

.test:hover {
  border-radius: 22px 6px;
  background: rgb(46, 204, 113);
  cursor: pointer;
}

.arvore {
  background: rgb(39, 174, 96);
}

.arvore:hover {
  background: rgb(46, 204, 113);
}

.sc-border-left::after {
  right: inherit;
  width: 10%;
}
.appointment .appoint-wrap .sc-title-two h2,
.appointment .appoint-wrap .sc-title-two h4,
.appointment .appoint-wrap .sc-title-two h5,
.appointment .appoint-wrap .sc-title-two-white h2,
.appointment .appoint-wrap .sc-title-two-white h4,
.appointment .appoint-wrap .sc-title-two-white h5 {
  margin-bottom: 20px;
}

@media (max-width: 991px) {
  .sc-title-two,
  .sc-title-two-white {
    width: 100%;
    text-align: center;
  }
}
.appointment .checkup-img img {
  border: 4px solid #fff;
}
.appoint-info i {
  font-size: 3.5rem;
  color: #fff;
  border-radius: 50px;
  width: 95px;
  height: 95px;
  background: linear-gradient(90deg, #00ce7c 0%, #008134 100%);
  text-align: center;
  padding: 15px;
}

.icon-footer {
  color: #fff;
  border-radius: 50px;
  background: linear-gradient(90deg, #007d31 0%, #00f3a3 100%);
  text-align: center;
  padding: 15px;
}

.sc-bg-right::before,
.sc-bg-left::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 70%;
  height: 100%;
  background-color: #008134;
  z-index: -1;
}

.sc-bg-right.bg-w-50::before,
.sc-bg-left.bg-w-50::before {
  width: 50%;
}

.sc-bg-right::before {
  right: 0;
}

.sc-bg-left::before {
  left: 0;
}

@media (max-width: 991px) {
  .sc-bg-right::before,
  .sc-bg-left::before {
    width: 100% !important;
  }
}

.appointment .checkup-img img {
  border: 4px solid #fff;
}

@media (max-width: 991px) {
  .appointment .appoint-wrap {
    margin-bottom: 0;
    text-align: center;
  }
  .appoint-form {
    padding: 1.5rem !important;
    margin-bottom: 1rem;
  }
  .appoint-detail {
    text-align: center;
  }
  .partners {
    text-align: center;
  }
}

.sc-title-two,
.sc-title-two-white {
  position: relative;
  width: 50%;
  margin: 0 auto 90px;
}

.sc-title-two h4,
.sc-title-two h2,
.sc-title-two-white h4,
.sc-title-two-white h2 {
  margin-bottom: 10px;
}
.section {
  padding: 100px 0;
  position: relative;
  display: inline-block;
  width: 100%;
}
.emergency-call .sc-title-two-white::after {
  width: 10%;
  bottom: -30px;
  height: 2px;
}

.faq-pg .appoint-info h2,
.faq-pg .appoint-info h3 {
  margin-bottom: 5px;
}

.faq-pg .appoint-info::after {
  bottom: -15px;
}

@media (max-width: 991px) {
  .bg-md-white {
    background: #fff !important;
  }
  .mb-xs-0 {
    margin-bottom: 0 !important;
  }
  .mt-xs-3 {
    margin-top: 1.5rem !important;
  }
  .mt-xs-4 {
    margin-top: 2rem !important;
  }
  .mb-xs-3 {
    margin-bottom: 1.5rem !important;
  }
  .mb-xs-4 {
    margin-bottom: 2rem !important;
  }
  .flex-mxl-column-reverse {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
}
@media (min-width: 991px) {
  .p-lg-0 {
    padding: 0 !important;
  }
  .pr-lg-0 {
    padding-right: 0 !important;
  }
  .pl-lg-0 {
    padding-left: 0 !important;
  }
  .pr-lg-5 {
    padding-right: 2.5rem !important;
  }
  .w-lg-75 {
    width: 75% !important;
  }
  .w-lg-50 {
    width: 50% !important;
  }
  .border-lg-0 {
    border: none !important;
  }
}

.imagem {
  max-width: 100%;
}

.content {
  height: 70vh;
}
